<p id="notice"><%= notice %></p>
<% provide(:title, @source.name) %>

<header>
<nav>
  <b>Activity:</b>
  <%= @source.activity %>
</br>
  <b>Obtained:</b>
  <% if @source.obtained == true %>
    <%= image_tag("tick.png") %>
  <% else %>
  	<%= image_tag("cross.png")%>
  <% end %>
</nav>
</header>

<p>
  <b>Name:</b>
  <%= @source.name %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %><hr />

<% if @franchiserecord.nil? == false %>
	<p>
 	  Franchise: <%= link_to @franchise.name, source_path(@franchise.id) %> 
	</p><hr>
<% end %>


<% if @instances.empty? == false %>
	<b>Instances of Franchise:</b>
	<table>
	<% @instances.each do |each| %>
		<tr>
			<% @instance = Source.find_by_id(each.instance_id) %>
			<td><%= link_to @instance.name, source_path(@instance.id) %></td>
		</tr>
	<% end %>
	</table><hr>
<% end %>

<% if @source.reference.nil? == false %>
	<p>
		<b>Reference:</b>
		<%= link_to @source.reference, @source.reference %>
	</p><hr>
<% end %>




<b>Album(s):</b></br>
<table id="AlbumTable">
	<% @albums.each do |each| %>
	<tr>
		<td><%= link_to each.name, album_path(each) %></td>
		<% if each.obtained == "t" %>
			<td><%= image_tag("tick.png") %></td>
		<% end %>
		<% if each.obtained == "f" %>
			<td><%= image_tag("cross.png")%></td>
		<% end %>
	</tr>
	<% end %>
</table><hr>

<% if @instances.empty? == false %>
	<b>Child Albums</b>
	<table>
	<% @instances.each do |each| %>
		<tr>
			<% @instance = Source.find_by_id(each.instance_id) %>
			<% @instancealbums = @instance.albums %>	
			<td><%= @instance.name %></td>
			<% @instancealbums.each do |each| %>
				<tr>
					<td><DD><%= link_to each.name, album_path(each) %></td>
					<% if each.obtained == "t" %>
						<td><%= image_tag("tick.png") %></td>
					<% end %>
					<% if each.obtained == "f" %>
						<td><%= image_tag("cross.png")%></td>
					<% end %>
				</tr>
			<% end %>
		</tr>
	<% end %>
	</table><hr>
<% end %>

		
<%= link_to_function 'Add an Album?', '$("#new_album").toggle();' %><br/>
<% @albumformdisplay = "none" %>
<%= render :partial => 'albums/form'%>
<hr>

<%= link_to "Delete Source?", @source, :method => :delete, :confirm => "You sure?" %>
