<header>
	<nav>
<% if params[:filter] != "filterignored" %>
	<%= link_to "Filter Ignored Artists", artists_path(:filter => "filterignored") %><br>
<% end %>
<% if params[:filter] != "nofilter" %>
	<%= link_to "No filter", artists_path(:filter => "nofilter") %><br>
<% end %>
<% if params[:filter] != "filterlowpriority" %>
	<%= link_to "Filter Low Priority Artists", artists_path(:filter => "filterlowpriority") %><br>
<% end %>
<% if params[:filter] != "watchedonly" %>
	<%= link_to "Watched Artists Only", artists_path(:filter => "watchedonly") %><br>
<% end %>
  	</nav>
</header>

<h1>All Artists (<%= @filteredartists.count %>)</h1>
<% provide(:title, 'All Artists') %>

<table>
  <tr>
    <th>Name</th>
    <th>Activity</th>
    <th>Database Activity</th>
    <th>Obtained</th>
    <th>Reference</th>
  </tr>

  <% @artistssorted.each do |artist| %>
    <tr>
      <td><%= link_to artist.name, artist %></td>
      <td><%= artist.activity %></td>
      <td><%= artist.database_activity %></td>
      <td><%= artist.obtained %></td>
      <% if artist.reference.blank? == true %>
        <td><%= artist.reference %></td> 
      <% else %>
        <td><%= link_to artist.reference, artist.reference %></td>
	  <% end %>
    </tr>
  <% end %>
</table>

<br />

