<header>
	<nav>
		<% @filterlist.each do |filter| %>
			<%= link_to filter, artists_path(:filter => filter) %></br>
		<% end %> 
  	</nav>
</header>
<header>
	<nav>
		<% @sortlist.each do |attribute| %>
			<%= link_to "Sort by " + attribute[1], artists_path(:sort => attribute[0]) %></br>
		<% end %> 
  	</nav>
</header>

<h1>Artist List (Sorted By <%= @sorttitle %>) (Filter: <%= params[:filter] %>)(<%= @sorted.count %>)</h1>
<% provide(:title, 'Artist List') %>

<table>
  <tr>
    <th>Name</th>
    <th>Activity</th>
    <th>Database Activity</th>
    <th>Obtained</th>
    <th>Reference</th>
  </tr>

  <% @sorted.each do |artist| %>
    <tr>
      <td><%= link_to artist.name, artist %></td>
      <td><%= artist.activity %></td>
      <td><%= artist.database_activity %></td>
      <td><%= artist.obtained %></td>
      <% if artist.reference.blank? == true %>
        <td><%= artist.reference %></td> 
      <% else %>
        <td><%= link_to artist.reference, artist.reference %></td>
	  <% end %>
    </tr>
  <% end %>
</table>

<br />

