<h1>Listing artists</h1>
<% provide(:title, 'All Artists') %>

<table>
  <tr>
    <th>Name</th>
    <th>Reference</th>
    <th>Activity</th>
    <th>Database activity</th>
    <th>Obtained</th>
  </tr>

<% @artistssorted.each do |artist| %>
  <tr>
    <td><%= link_to artist.name, artist %></td>
    <td><%= artist.reference %></td>
    <td><%= artist.activity %></td>
    <td><%= artist.database_activity %></td>
    <td><%= artist.obtained %></td>
  </tr>
<% end %>
</table>

<br />

