<% if @albumformdisplay.nil?
	@albumformdisplay = "true"
   end
%>
<%= form_for(@album, :html => {:style => "display: " + @albumformdisplay}, :remote => true, :id=>"AddAlbumForm") do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :releasedate %><br />
    <%= f.date_select :releasedate, :default => @datenum, :start_year => 1970, :include_blank => true  %>
  </div>
  <div class="field">
    <%= f.label :catalognumber, "Catalog Number" %><br />
    <%= f.text_field :catalognumber %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.select :genre, [['Anime', 'Anime'], ['Game', 'Game']], :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :classification %><br />
    <%= f.select :classification, [['Original', 'Original'], ['Arrangement', 'Arrangement']], :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :reference %><br />
    <%= f.text_field :reference %>
  </div>
  <div class="field">
    <%= f.label :albumart %><br />
    <%= f.text_field :albumart %>
  </div>
  
  <% if @title == "edit" and @album.publisher.nil? == false %>  
    Publisher (uncheck to remove):
	  <div class="field">
	    <%= @pub.name %>
	    <%= hidden_field_tag @pub.name, 0 %>
	    <%= check_box_tag @pub.name, 1, true %>
	  </div>
  <% end %>  
   
    <%= fields_for 'Publisher' do |f| %>
	  <div class="field">
	    <%= f.label "Publisher" %><br />
	    <%= f.text_field 'Name', :value => @publisher %>
	  </div>
    <% end %>
    
  <% if @title == "edit" and @album.composers.empty? == false %>  
    Composer(s) (uncheck to remove):
  	<% @composers.each do |each| %>
	  <div class="field">
	    <%= each.name %>
	    <%= hidden_field_tag each.name, 0 %>
	    <%= check_box_tag each.name, 1, true %>
	  </div>
    <% end %>
  <% end %>  
  
  <% if @title == "screenscrape"%>
  	<% if @linkedcomposers.empty? == false %>
  	  <h1>Linked Composers</h1>
  	  <% @linkedcomposers.each do |composer|%>
  		<% @holder = composer %>
  		<%= render :partial => 'albums/add_composer_form' %>
  	  <% end %>
  	<% end %>
  	<% if @scrapedcomposers.empty? == false %>
  	  <h1>Unlinked Composers </h1>
  	  <% @scrapedcomposers.each do |composer|%>
  		<% @holder = composer %>
  		<%= render :partial => 'albums/add_composer_form' %>
  	  <% end %>
  	<% end %>
  <% end %>
  <% @holder = "" %>
  
  <%= render :partial => 'albums/add_composer_form' %>
   <div id="AddComposerField"></div>
  <%= link_to "Add another Composer Field", addcomposerform_path, :remote => true %></br></br>

  <% if @title == "edit" and @album.arrangers.empty? == false %>  
    Arranger(s) (uncheck to remove):
  	<% @arrangers.each do |each| %>
	  <div class="field">
	    <%= each.name %>
	    <%= hidden_field_tag each.name, 0 %>
	    <%= check_box_tag each.name, 1, true %>
	  </div>
    <% end %>
  <% end %>

  <% if @title == "screenscrape"%>
  	<% if @linkedarrangers.empty? == false %>
  	  <h1>Linked Arrangers</h1>
  	  <% @linkedarrangers.each do |arranger|%>
  		<% @holder = arranger %>
  		<%= render :partial => 'albums/add_arranger_form' %>
  	  <% end %>
  	<% end %>
  	<% if @scrapedarrangers.empty? == false %>
  	  <h1>Unlinked Arrangers </h1>
  	  <% @scrapedarrangers.each do |arranger|%>
  		<% @holder = arranger %>
  		<%= render :partial => 'albums/add_arranger_form' %>
  	  <% end %>
  	<% end %>
  <% end %>
  <% @holder = "" %>
  
  <%= render :partial => 'albums/add_arranger_form' %>
   <div id="AddArrangerField"></div>
  <%= link_to "Add another Arranger Field", addarrangerform_path, :remote => true %></br></br>
  
  <% if @title == "edit" and @album.performers.empty? == false  %>  
    Performer(s) (uncheck to remove):
  	<% @performers.each do |each| %>
	  <div class="field">
	    <%= each.name %>
	    <%= hidden_field_tag each.name, 0 %>
	    <%= check_box_tag each.name, 1, true %>
	  </div>
    <% end %>
  <% end %>  

  <% if @title == "screenscrape"%>
  	<% if @linkedperformers.empty? == false %>
  	  <h1>Linked Performers</h1>
  	  <% @linkedperformers.each do |performer| %>
  		<% @holder = performer %>
  		<%= render :partial => 'albums/add_performer_form' %>
  	  <% end %>
  	<% end %>
  	<% if @scrapedperformers.empty? == false %>
  	<h1>Unlinked Performers </h1>
  	  <% @scrapedperformers.each do |performer|%>
  		<% @holder = performer %>
  		<%= render :partial => 'albums/add_performer_form' %>
  	  <% end %>
  	<% end %>
  <% end %>
  <% @holder = "" %>  
  
  <%= render :partial => 'albums/add_performer_form' %>
   <div id="AddPerformerField"></div>
  <%= link_to "Add another Performer Field", addperformerform_path, :remote => true %></br></br>
  
  <% if @title == "edit" and @album.sources.empty? == false %>  
    Source(s) (uncheck to remove):
  	<% @sources.each do |each| %>
	  <div class="field">
	    <%= each.name %>
	    <%= hidden_field_tag each.name, 0 %>
	    <%= check_box_tag each.name, 1, true %>
	  </div>
    <% end %>
  <% end %>
  
  <% if @title == "screenscrape"%>
  	<h1>Sources </h1>
  	<% @scrapedsources.each do |source|%>
  		<% @holder = source %>
  		<%= render :partial => 'albums/add_source_form' %>
  	<% end %>
  <% end %>
  <% @holder = "" %>  
  
  <%= render :partial => 'albums/add_source_form' %>
   <div id="AddSourceField"></div>
  <%= link_to "Add another Source Field", addsourceform_path, :remote => true %></br></br>
  
  <%= fields_for(:album) do |f| %>   
    <div class="field">
      <%= f.label :obtained, "Album Obtained" %><br />
    	<%= f.select :obtained, [['No', 'f'], ['Yes', 't'], ["Ignored", "ignored"]], :default => "No" %>
    </div>
  	<div class="field">
      <%= f.label :note %><br />
      <%= f.text_area :note %>
    </div>
  <% end %>
  
  <% if @title == "new" %>
    <%= hidden_field_tag(:title, "new")%>
  <% end %>
  
  <% if @title == "screenscrape" %>
    <%= hidden_field_tag(:title, "screenscrape")%>
  <% end %>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
